.footer
  .row-fluid
    .span4
      = image_tag "factory.png"
    .span4
      %h1 Share Factory
      %p <b>Blowing</b> your mind through sharing and refactoring.
    .span4
      %h3 Social Media Feed/Links
