.navbar
  .navbar-inner
    .container
      / .btn-navbar is used as the toggle for collapsed navbar content
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      / Be sure to leave the brand out there if you want it shown
      %a.brand{:href => "/"} SHAREFACTORY
      %ul.nav
        %li
          %a{:href => "/snippets"} Snippets
      %ul.nav.pull-right
        - if user_signed_in?
          %li= link_to "Log Out", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Login", new_user_session_path
          %li= link_to "Register", new_user_registration_path
      / Everything you want hidden at 940px or less, place within here
      .nav-collapse.collapse
        / .nav, .navbar-search, .navbar-form, etc